body {
    padding-top: 60px;
    padding-bottom: 40px;
    /*background:url("/img/main/page.png") repeat 0 0;*/
    background: #222;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #6F6D6E;
    background-image: -moz-linear-gradient(top, #6F6D6E, #98989A);
    background-image: -ms-linear-gradient(top, #6F6D6E, #98989A);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6F6D6E), to(#98989A));
    background-image: -webkit-linear-gradient(top, #6F6D6E, #98989A);
    background-image: -o-linear-gradient(top, #6F6D6E, #98989A);
    background-image: linear-gradient(top, #6F6D6E, #98989A);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F6D6E', endColorstr='#98989A', GradientType=0);
    border-color: #6F6D6E;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #6F6D6E;
}

.btn-success:active, .btn-success.active {
    background-color: #98989A;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


.jumbotron.biglogo{
    background: url('/img/main/almaks.png') no-repeat -78px 0 transparent;
    padding: 0;
    height:187px;
}

.jumbotron a{
    width: 100%;
    height:100%;
    display:block;
}

.jumbotron a .smallLogo{
    position: absolute;
    display: block;
    height: 120px;
    width: 100px;
    margin-top: 30px;
    margin-left: 45px;
    background: url('/img/main/smallLogo.png') no-repeat 0 0;
}

.panel-body{
    background: url('/img/main/pageglare.png') no-repeat 0 0;    
}

footer p{
    color: #a99a99;
}

.panel-body-image{
 text-align: center;   
}